{% extends "crm/layout.html" %}
{% from "_formhelpers.html" import render_field, render_submit_field %}

{% block page_title %}{{ title or 'Account Form' }}{% endblock %}

{% block page_content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-7">
        <div class="card border-0 shadow">
            <div class="card-header">
                <h2 class="h5 mb-0">{{ legend or 'Account Details' }}</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="">
                    {{ form.hidden_tag() }} {# CSRF token #}
                    
                    <div class="mb-3">
                        {{ render_field(form.name, html_class="form-control") }}
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ render_field(form.website, html_class="form-control", placeholder="https://example.com") }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ render_field(form.phone_number, html_class="form-control") }}
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        {{ render_field(form.address, html_class="form-control") }}
                    </div>

                    <div class="mb-3">
                        {{ render_field(form.industry, html_class="form-control") }}
                    </div>
                    
                    <div class="row mb-4">
                        <div class="col-lg-4 col-sm-6">
                            {{ render_field(form.status, class='form-select') }}
                        </div>
                    </div>

                    {% if dynamic_fields %}
                        <hr>
                        <h5 class="mt-4 mb-3">Additional Information</h5>
                        {% for field_name, definition in dynamic_fields %}
                            <div class="mb-3">
                                {{ render_field(form[field_name], html_class=('form-control' if definition.field_type != 'boolean' else 'form-check-input')) }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    
                    <div class="mt-4">
                        {{ render_submit_field(form.submit, button_class="btn btn-primary") }}
                        <a href="{{ url_for('crm.accounts') }}" class="btn btn-light ms-2">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} 