{% extends "crm/layout.html" %}

{% block page_title %}Contacts{% endblock %}

{% block page_description %}Manage your CRM contacts.{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-12">
        <div class="card border-0 shadow">
            <div class="card-body">
                 <h5 class="card-title">Manage Contacts</h5>
                 <p class="card-text">Contact management interface will be built here.</p>
                 {# Placeholder for contact list table, search, add button etc. #}
            </div>
        </div>
    </div>
</div>
{% endblock %} 