{% extends "crm/layout.html" %}
{% from "_formhelpers.html" import render_field, render_submit_field, render_query_select_field %}

{% block page_title %}{{ title or 'Contact Form' }}{% endblock %}

{% block page_content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-7">
        <div class="card border-0 shadow">
            <div class="card-header">
                <h2 class="h5 mb-0">{{ legend or 'Contact Details' }}</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="{{ form_action_url or '' }}">
                    {{ form.hidden_tag() }} {# CSRF token #}
                    {# Render hidden sales_rep_id if it exists (for non-managers) #}
                    {% if form.sales_rep_id_hidden %}
                        {{ form.sales_rep_id_hidden }}
                    {% endif %}
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ render_field(form.first_name, html_class="form-control") }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ render_field(form.last_name, html_class="form-control") }}
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        {{ render_field(form.email, html_class="form-control", placeholder="name@example.com") }}
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ render_field(form.phone_number, html_class="form-control") }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ render_field(form.job_title, html_class="form-control") }}
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        {{ render_query_select_field(form.crm_account, html_class="form-select") }}
                    </div>

                    {# ADDED: Primary Contact Checkbox #}
                    <div class="mb-3">
                        <div class="form-check">
                            {{ form.is_primary_for_account(class="form-check-input") }}
                            {{ form.is_primary_for_account.label(class="form-check-label") }}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            {{ render_field(form.status, html_class="form-select") }}
                        </div>
                        <div class="col-md-6">
                            {{ render_field(form.source, html_class="form-select") }}
                        </div>
                    </div>
                    
                    {# MODIFIED: Add Sales Rep Assignment Dropdown for Managers #}
                    {% if form.sales_rep_id %}
                    <div class="row mb-3">
                        <div class="col-md-6">
                             {{ render_query_select_field(form.sales_rep_id, html_class='form-select') }}
                        </div>
                            </div>
                        {% endif %}

                    {% if dynamic_fields %}
                        <hr>
                        <h5 class="mt-4 mb-3">Additional Information</h5>
                        {% for field_name, definition in dynamic_fields %}
                            <div class="mb-3">
                                {{ render_field(form[field_name], html_class=('form-control' if definition.field_type.name != 'BOOLEAN' else 'form-check-input')) }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    
                    <div class="mt-3">
                        {{ form.submit(class='btn btn-gray-800') }}
                        <a href="{{ url_for('crm.view_contact', contact_id=contact.id) if editing else url_for('crm.contacts') }}" class="btn btn-link text-gray ms-2">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} 