<nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar>
  <div class="sidebar-inner px-4 pt-3">
    <!-- Logo -->
    <div class="text-center mb-4">
      <img src="{{ url_for('static', filename='img/brand/LOS_white_logo.png') }}" class="img-fluid" style="max-width: 200px;" alt="Logistics One Source Logo">
    </div>
    <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
      <div class="d-flex align-items-center">
        <div class="avatar-lg me-4">
          {% if current_user.profile_picture %}
            <img src="{{ url_for('static', filename=current_user.profile_picture) }}" class="card-img-top rounded-circle border-white" alt="Profile Picture">
          {% else %}
            <div class="avatar-name rounded-circle bg-gray-800">
              <span>{{ current_user.name[0] if current_user.name else current_user.email[0] }}</span>
            </div>
          {% endif %}
        </div>
        <div class="d-block">
          <h2 class="h5 mb-3">Hi, {{ current_user.username }}</h2>
          <a href="{{ url_for('auth.logout') }}" class="btn btn-secondary btn-sm d-inline-flex align-items-center">
            <svg class="icon icon-xxs me-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path></svg>            
            Sign Out
          </a>
        </div>
      </div>
      <div class="collapse-close d-md-none">
        <a href="#sidebarMenu" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="true" aria-label="Toggle navigation">
          <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
      </div>
    </div>
    <ul class="nav flex-column pt-3 pt-md-0">
      <li class="nav-item">
        <a href="{{ url_for('main.dashboard') }}" class="nav-link d-flex align-items-center">
          <span class="sidebar-icon">
            <img src="{{ url_for('static', filename='img/brand/light.svg') }}" height="20" width="20" alt="Volt Logo">
          </span>
          <span class="mt-1 ms-1 sidebar-text">Dashboard</span>
        </a>
      </li>
      {% if current_user.email == 'simon@logisticsonesource.com' %}
      <!-- Admin Navigation -->
      <li class="nav-item {% if request.endpoint == 'main.admin_dashboard' %}active{% endif %}">
        <a href="{{ url_for('main.admin_dashboard') }}" class="nav-link">
          <span class="sidebar-icon">
            <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg>
          </span> 
          <span class="sidebar-text">Admin Overview</span>
        </a>
      </li>

      <li class="nav-item {% if request.endpoint == 'main.admin_companies' %}active{% endif %}">
        <a href="{{ url_for('main.admin_companies') }}" class="nav-link">
          <span class="sidebar-icon">
            <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 4a2 2 0 012-2h8a2 2 0 012 2v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4zm3 1h6v4H7V5zm8 8v2h1v-2h-1zm-2-6H7v4h6V7zm2 0h1v4h-1V7zm1-2v2h-1V5h1zM5 5v2h1V5H5zm0 4h1v4H5V9zm0 6h1v2H5v-2z" clip-rule="evenodd"></path></svg>
          </span>
          <span class="sidebar-text">Companies</span>
        </a>
      </li>

      <li class="nav-item {% if request.endpoint == 'main.admin_points' %}active{% endif %}">
        <a href="{{ url_for('main.admin_points') }}" class="nav-link">
          <span class="sidebar-icon">
            <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1.323l3.954 1.582 1.599-.8a1 1 0 01.894 1.79l-1.233.616 1.738 5.42a1 1 0 01-.285 1.05A3.989 3.989 0 0115 15a3.989 3.989 0 01-2.667-1.019 1 1 0 01-.285-1.05l1.715-5.349L11 6.477V16h2a1 1 0 110 2H7a1 1 0 110-2h2V6.477L6.237 7.582l1.715 5.349a1 1 0 01-.285 1.05A3.989 3.989 0 015 15a3.989 3.989 0 01-2.667-1.019 1 1 0 01-.285-1.05l1.738-5.42-1.233-.616a1 1 0 01.894-1.79l1.599.8L9 4.323V3a1 1 0 011-1z"></path></svg>
          </span>
          <span class="sidebar-text">Points Management</span>
        </a>
      </li>

      <li class="nav-item {% if request.endpoint == 'main.admin_rewards' %}active{% endif %}">
        <a href="{{ url_for('main.admin_rewards') }}" class="nav-link">
          <span class="sidebar-icon">
            <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 4a2 2 0 012-2h6a2 2 0 012 2v14l-5-2.5L5 18V4z"></path></svg>
          </span>
          <span class="sidebar-text">Rewards Management</span>
        </a>
      </li>

      <li class="nav-item {% if request.endpoint.startswith('commission.admin_') %}active{% endif %}">
        <a href="{{ url_for('commission.admin_partners') }}" class="nav-link">
          <span class="sidebar-icon">
            <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"></path></svg>
          </span>
          <span class="sidebar-text">Commission Partners</span>
        </a>
      </li>
      {% else %}
      <!-- User Navigation -->
      <li class="nav-item {% if request.endpoint == 'main.user_dashboard' %}active{% endif %}">
        <a href="{{ url_for('main.user_dashboard') }}" class="nav-link">
          <span class="sidebar-icon">
            <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg>
          </span> 
          <span class="sidebar-text">Overview</span>
        </a>
      </li>

      <!-- Points & Rewards Section -->
      <li class="nav-item">
        <span class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#submenu-points" aria-expanded="true">
          <span>
            <span class="sidebar-icon">
              <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1.323l3.954 1.582 1.599-.8a1 1 0 01.894 1.79l-1.233.616 1.738 5.42a1 1 0 01-.285 1.05A3.989 3.989 0 0115 15a3.989 3.989 0 01-2.667-1.019 1 1 0 01-.285-1.05l1.715-5.349L11 6.477V16h2a1 1 0 110 2H7a1 1 0 110-2h2V6.477L6.237 7.582l1.715 5.349a1 1 0 01-.285 1.05A3.989 3.989 0 015 15a3.989 3.989 0 01-2.667-1.019 1 1 0 01-.285-1.05l1.738-5.42-1.233-.616a1 1 0 01.894-1.79l1.599.8L9 4.323V3a1 1 0 011-1z"></path></svg>
            </span>
            <span class="sidebar-text">Points & Rewards</span>
          </span>
          <span class="link-arrow">
            <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
          </span>
        </span>
        <div class="multi-level collapse show" role="list" id="submenu-points" aria-expanded="false">
          <ul class="flex-column nav">
            <li class="nav-item {% if request.endpoint == 'main.user_dashboard' %}active{% endif %}">
              <a href="{{ url_for('main.user_dashboard') }}" class="nav-link">
                <span class="sidebar-text">Points Dashboard</span>
              </a>
            </li>
            <li class="nav-item {% if request.endpoint == 'main.user_rewards' %}active{% endif %}">
              <a href="{{ url_for('main.user_rewards') }}" class="nav-link">
                <span class="sidebar-text">Rewards</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      </li>

      <!-- Commission Partners Section -->
      <li class="nav-item">
        <span class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#submenu-commission" aria-expanded="true">
          <span>
            <span class="sidebar-icon">
              <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"></path></svg>
            </span>
            <span class="sidebar-text">Commission Partners</span>
          </span>
          <span class="link-arrow">
            <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
          </span>
        </span>
        <div class="multi-level collapse show" role="list" id="submenu-commission" aria-expanded="false">
          <ul class="flex-column nav">
            {% if current_user.is_authenticated %}
              {% if is_commission_partner() %}
              <!-- Links for existing partners -->
              <li class="nav-item {% if request.endpoint == 'commission.dashboard' %}active{% endif %}">
                <a href="{{ url_for('commission.dashboard') }}" class="nav-link">
                  <span class="sidebar-text">Partner Dashboard</span>
                </a>
              </li>
              <li class="nav-item {% if request.endpoint == 'commission.partners' %}active{% endif %}">
                <a href="{{ url_for('commission.partners') }}" class="nav-link">
                  <span class="sidebar-text">My Network</span>
                </a>
              </li>
              <li class="nav-item {% if request.endpoint == 'commission.commissions' %}active{% endif %}">
                <a href="{{ url_for('commission.commissions') }}" class="nav-link">
                  <span class="sidebar-text">My Commissions</span>
                </a>
              </li>
              {% else %}
              <!-- Link for non-partners -->
              <li class="nav-item {% if request.endpoint == 'commission.partners' %}active{% endif %}">
                <a href="{{ url_for('commission.partners') }}" class="nav-link">
                  <span class="sidebar-text">Register as Partner</span>
                  <span class="badge bg-success ms-1">New</span>
                </a>
              </li>
              {% endif %}
            {% endif %}
          </ul>
        </div>
      </li>

      <!-- Companies Section -->
      <li class="nav-item {% if request.endpoint == 'main.user_companies' %}active{% endif %}">
        <a href="{{ url_for('main.user_companies') }}" class="nav-link">
          <span class="sidebar-icon">
            <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M4 4a2 2 0 012-2h8a2 2 0 012 2v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4zm7 5h2a1 1 0 010 2h-2v2a1 1 0 11-2 0v-2H7a1 1 0 110-2h2V7a1 1 0 112 0v2z"></path></svg>
          </span>
          <span class="sidebar-text">Companies</span>
        </a>
      </li>
      {% endif %}
      {% if current_user.email == 'simon@logisticsonesource.com' %}
      <li class="nav-item {% if request.endpoint.startswith('users.') %}active{% endif %}">
        <a href="{{ url_for('users.index') }}" class="nav-link">
          <span class="sidebar-icon">
            <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z"></path></svg>
          </span>
          <span class="sidebar-text">Users</span>
        </a>
      </li>
      <li class="nav-item">
        <span class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#submenu-referrals" aria-expanded="true">
          <span>
            <span class="sidebar-icon">
              <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.707 3.293a1 1 0 010 1.414L5.414 7H11a7 7 0 017 7v2a1 1 0 11-2 0v-2a5 5 0 00-5-5H5.414l2.293 2.293a1 1 0 11-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
            </span>
            <span class="sidebar-text">Referrals</span>
          </span>
          <span class="link-arrow">
            <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
          </span>
        </span>
        <div class="multi-level collapse show" role="list" id="submenu-referrals" aria-expanded="false">
          <ul class="flex-column nav">
            <li class="nav-item {% if request.endpoint == 'referrals.admin_referrals' %}active{% endif %}">
              <a href="{{ url_for('referrals.admin_referrals') }}" class="nav-link">
                <span class="sidebar-text">Manage Links</span>
              </a>
            </li>
            <li class="nav-item {% if request.endpoint == 'referrals.click_history' %}active{% endif %}">
              <a href="{{ url_for('referrals.click_history') }}" class="nav-link">
                <span class="sidebar-text">Click History</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      {% endif %}
      <li class="nav-item {% if request.endpoint == 'users.profile' %}active{% endif %}">
        <a href="{{ url_for('users.profile') }}" class="nav-link">
          <span class="sidebar-icon">
            <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path></svg>
          </span>
          <span class="sidebar-text">My Profile</span>
        </a>
      </li>
      
      <li class="nav-item {% if request.endpoint == 'main.resources' %}active{% endif %}">
        <a href="{{ url_for('main.resources') }}" class="nav-link" style="{% if not current_user.email == 'simon@logisticsonesource.com' %}border-left: 3px solid #e30613; background-color: rgba(227, 6, 19, 0.1);{% endif %}">
          <span class="sidebar-icon">
            <svg class="icon icon-xs me-2" fill="{% if request.endpoint == 'main.resources' %}#e30613{% else %}currentColor{% endif %}" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 4.804A7.968 7.968 0 005.5 4c-1.255 0-2.443.29-3.5.804v10A7.969 7.969 0 015.5 14c1.669 0 3.218.51 4.5 1.385A7.962 7.962 0 0114.5 14c1.255 0 2.443.29 3.5.804v-10A7.968 7.968 0 0014.5 4c-1.255 0-2.443.29-3.5.804V12a1 1 0 11-2 0V4.804z"></path></svg>
          </span>
          <span class="sidebar-text" style="{% if request.endpoint == 'main.resources' %}color: #e30613; font-weight: 600;{% endif %}">Resources</span>
          {% if not current_user.email == 'simon@logisticsonesource.com' %}
          <span class="badge rounded-pill bg-white text-dark ms-2" style="border: 1px solid #e30613; color: #0a1f44 !important; font-size: 0.65rem;">NEW</span>
          {% endif %}
        </a>
      </li>

    </ul>
  </div>
</nav>
